#hb{
    color: pink;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: deepskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: mediumpurple;
    font-family: cursive;
}
img{
    width: 450px;
    border-radius: 35%;
}
html{
    text-align: center;
    background-color: black;
}